<div *ngFor="let v of user$ | async" (click)="remove(v)">
  {{v | json}}
</div>

<input type="text" [(ngModel)]="username" (keyup.enter)="createUser()" />

<button type="button" (click)="addOffset(1)">+1</button>
<button type="button" (click)="addOffset(-1)">-1</button>

<br>

<input type="range" min="0" max="100" value="12" [ngModel]="rangeValue | async">
<button type="button" (click)="execute()" [promiseBtn]="testSub">Execute</button>

<br>

<input [(ngModel)]="message"><button type="button" (click)="send()">Send</button>

<br>
<button type="button" (click)="executeTest()">Execute test</button>
